urls
news/feeds/*
news/etags/*
youtube/feeds/*
youtube/news/*
test/*
urls-youtube
urls-torrents
*.log
/etags
urls-bookmarks
/web_frontend_youtube/app/__pycache__
/.vscode
/web_frontend_news/app/__pycache__
urls-bookmarks-news
urls-bookmarks-youtube
